[Unit]
Description=DLX Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/dlx

[Install]
WantedBy=multi-user.target
